.menu{
    background-color: bisque;
    width: 100%;
    height: 45px;
}

.menu li{
    display: inline-block;
    list-style: none;
    line-height: 45px;
    padding-right: 30px;
    color: white;
}