body{
    color:red; 
}

h1{
    color:blue;
    font-size: 15px;
}

.abc{
    font-size: 10px;
    color: blue;
}

.xyz{
    color: brown;
    background-color: black;
}

#aisatsu{
    font-size: 20px;
    color: green
}

#orei{
    font-size: 
    30px; color:
    yellow
}