ul{
    list-style-type: none;
    color:red;
    font-size: 30px;
}

.abc{
    font-size: 30px;
}

.xyz{
    color: blue;
}

#main{
    text-align: center;
}

.sub{
    color: red;
    font-size: 20px;
}

.word{
    color: blue;
    font-family: serif;
}

h1,h3{
    color: green;
}

.name1,.name2{
    color: blue;
    text-align: center;
}

#main{
    color:orange;
}

.subtitle{
    color:blue;
    font-size: 10px;
}

p{
    color:green;
    font-size: 20px;
}

.h2{
    font-size: 30px;
}

.no1{
    color:red;
}

.no2{
    color: blue;
}

.a{
    color:red;
    text-align: left;
}

.b{
    font-size: 30px;
}

.a.b{
    background-color: green;
}