
#setsumei{
    font-size: 20px;font-family:serif;
    border: 5px dotted blue;
}

#study{
    border-top: 3px solid gray;
    border-bottom: 3px double black;
}

.abc{
    margin-top: 50px;
    margin-left: 10px;
}

img{
    margin-left: 400px;
    margin-top: 100px;
}

.main{
    font-size: 30px;
    margin-top: 30px;
}

p{
    padding-left: 20px;
}


.box1{
    margin-top: 20px;
    margin-left: 20px;
}

div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.box2{
    margin: 50px;
}